<h1>
  Bienvenue sur l'application Bike
  <img src="assets/grologo.png" alt="grologo"/>
</h1>

<p>
  Notre équipe a développé cette application dans le cadre du projet commun des cours de
  &laquo;&nbsp;WebService&nbsp;&raquo;,
  de &laquo;&nbsp;Systèmes embarqués et Objets connectés&nbsp;&raquo;
  et d'&laquo;&nbsp;Android&nbsp;&raquo;
</p>

<div id="fonctionnalites">
  <p>Liste des fonctionnalités :</p>
  <ul>
    <li>Inscription et connexion</li>
    <li>Liste des sorties</li>
    <li>Affichage des sorties sur une carte</li>
  </ul>
</div>

<a href="https://TODO/">
  <button mat-raised-button color="primary">Télécharger l'application Android</button>
</a>

<p id="equipe">Équipe SYMPA</p>
