<ng-form [formGroup]="formLogin">
  <h1>Connexion</h1>
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput formControlName="username">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Mot de passe</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <button (click)="login()" [disabled]="!formLogin.valid" mat-raised-button color="primary">Se connecter</button>
  <button mat-raised-button color="primary" routerLink="/signup">Inscription</button>
</ng-form>
